<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="RestApiPractice" verbose="1" >
    <parameter name="browser" value="chrome" />
    <test name="RestApiPractice Chrome" >
        <classes>
            <class name="com.restAssured.restApiPractice.tests.Basics"/>
            <class name="com.restAssured.restApiPractice.tests.ComplexJsonParse"/>
            <class name="com.restAssured.restApiPractice.tests.SumValidation"/>
            <class name="com.restAssured.restApiPractice.tests.DynamicJsonTest"/>
            <class name="com.restAssured.restApiPractice.tests.JiraTest"/>
        </classes>
    </test>
</suite>